create database Assignment2_dotheduong
go
USE [Assignment2_dotheduong]
GO
/****** Object:  Table [dbo].[tblAnswers]    Script Date: 7/2/2021 11:06:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAnswers](
	[answerID] [int] IDENTITY(1,1) NOT NULL,
	[answer_content] [nvarchar](150) NULL,
	[questionID] [varchar](30) NULL,
	[answer_correct] [bit] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[answerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuestions]    Script Date: 7/2/2021 11:06:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuestions](
	[questionID] [varchar](30) NOT NULL,
	[question_content] [nvarchar](150) NULL,
	[createDate] [date] NULL,
	[subjectID] [varchar](30) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuizDetail]    Script Date: 7/2/2021 11:06:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuizDetail](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[quizID] [varchar](30) NULL,
	[questionID] [varchar](30) NULL,
	[selectedAnswer] [int] NULL,
	[result] [bit] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuizs]    Script Date: 7/2/2021 11:06:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuizs](
	[quizID] [varchar](30) NOT NULL,
	[email] [varchar](30) NULL,
	[subjectID] [varchar](30) NULL,
	[totalMark] [float] NULL,
	[finishedQuizTime] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[quizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 7/2/2021 11:06:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[roleID] [varchar](10) NOT NULL,
	[roleName] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubjects]    Script Date: 7/2/2021 11:06:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubjects](
	[subjectID] [varchar](30) NOT NULL,
	[subjectName] [nvarchar](50) NULL,
	[timeQuiz] [int] NULL,
	[numberQuestion] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[subjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 7/2/2021 11:06:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[email] [varchar](30) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[password] [varchar](100) NULL,
	[roleID] [varchar](10) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAnswers] ON 

INSERT [dbo].[tblAnswers] ([answerID], [answer_content], [questionID], [answer_correct], [status]) VALUES (1, N'A status of 200 to 299 signifies that the request was successful. d', N'QE1', 1, 1)
INSERT [dbo].[tblAnswers] ([answerID], [answer_content], [questionID], [answer_correct], [status]) VALUES (2, N'A status of 300 to 399 is informational messages.', N'QE1', 0, 1)
INSERT [dbo].[tblAnswers] ([answerID], [answer_content], [questionID], [answer_correct], [status]) VALUES (3, N'A status of 400 to 499 indicates an error in the server', N'QE1', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[tblAnswers] OFF
INSERT [dbo].[tblQuestions] ([questionID], [question_content], [createDate], [subjectID], [status]) VALUES (N'QE1', N'Which of the following statements are correct about the status of the Http response?', CAST(N'2021-02-01' AS Date), N'PRJ321', 1)
INSERT [dbo].[tblQuestions] ([questionID], [question_content], [createDate], [subjectID], [status]) VALUES (N'QE10', N'A ... manages the threading for the servlets and JSPs ', CAST(N'2021-02-01' AS Date), N'PRJ321', 1)
INSERT [dbo].[tblQuestions] ([questionID], [question_content], [createDate], [subjectID], [status]) VALUES (N'QE11', N'A __has a name, a single value, and optional attributes', CAST(N'2021-02-01' AS Date), N'PRJ321', 1)
INSERT [dbo].[tblRole] ([roleID], [roleName], [status]) VALUES (N'AD', N'Admin', 1)
INSERT [dbo].[tblRole] ([roleID], [roleName], [status]) VALUES (N'US', N'Student', 1)
INSERT [dbo].[tblSubjects] ([subjectID], [subjectName], [timeQuiz], [numberQuestion], [status]) VALUES (N'PRJ311', N'Java DESKTOP', 5, 10, 1)
INSERT [dbo].[tblSubjects] ([subjectID], [subjectName], [timeQuiz], [numberQuestion], [status]) VALUES (N'PRJ321', N'Java WEB', 5, 10, 1)
INSERT [dbo].[tblSubjects] ([subjectID], [subjectName], [timeQuiz], [numberQuestion], [status]) VALUES (N'PRO192', N'Java', 5, 10, 1)
INSERT [dbo].[tblUsers] ([email], [fullName], [password], [roleID], [status]) VALUES (N'a@g', N'No Name', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'US', 1)
INSERT [dbo].[tblUsers] ([email], [fullName], [password], [roleID], [status]) VALUES (N'admin@gmail', N'Manager', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'AD', 1)
INSERT [dbo].[tblUsers] ([email], [fullName], [password], [roleID], [status]) VALUES (N'test@gmail', N'Test', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'US', 1)
ALTER TABLE [dbo].[tblAnswers]  WITH CHECK ADD FOREIGN KEY([questionID])
REFERENCES [dbo].[tblQuestions] ([questionID])
GO
ALTER TABLE [dbo].[tblQuestions]  WITH CHECK ADD FOREIGN KEY([subjectID])
REFERENCES [dbo].[tblSubjects] ([subjectID])
GO
ALTER TABLE [dbo].[tblQuizDetail]  WITH CHECK ADD FOREIGN KEY([questionID])
REFERENCES [dbo].[tblQuestions] ([questionID])
GO
ALTER TABLE [dbo].[tblQuizDetail]  WITH CHECK ADD FOREIGN KEY([quizID])
REFERENCES [dbo].[tblQuizs] ([quizID])
GO
ALTER TABLE [dbo].[tblQuizs]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[tblUsers] ([email])
GO
ALTER TABLE [dbo].[tblQuizs]  WITH CHECK ADD FOREIGN KEY([subjectID])
REFERENCES [dbo].[tblSubjects] ([subjectID])
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[tblRole] ([roleID])
GO
ALTER TABLE [dbo].[tblQuizs]  WITH CHECK ADD CHECK  (([totalMark]>=(0)))
GO
select quizID
from tblQuizs Q
where '2021-03-20 00:30:15'<finishedQuizTime and email='a@g'